@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body,
html,
#bg {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#bg {
  background-size: cover;
  background-position: center center;
}

/* デジタル時計 */
#d-clock {
  display: inline-block;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#d-clock_date {
  font-size: 0.5em;
  padding-left: 0.3em;
  margin-bottom: 0.3em;
}

#time {
  font-size: 2em;
  border: 1.5vw solid #fff;
  padding: 0 5vw;
}

/* アナログ時計 */
#a-clock {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  border: 0.5vw solid #fff;
  border-radius: 50%;
  top: 50%;
}

#a-clock-sec {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5vw);
  width: 1vw;
  height: 0.52em;
  background: #fff;
  border-radius: 10%;
  transform-origin: bottom;
}
